<link href="css/application.min.css" rel="stylesheet">
<link href="css/tcg.css" rel="stylesheet">
<!-- as of IE9 cannot parse css files with more that 4K classes separating in two files -->
<!--[if IE 9]>
   <link href="css/application-ie9-part2.css" rel="stylesheet">
<![endif]-->
<!-- main page content. the place to put widgets in. usually consists of .row > .col-lg-* > .widget.  -->
<main class="content" class="content view-animate fade-up ng-scope" role="main" data-ui-view="" style="">
<ol class="breadcrumb ng-scope">
   <li>Home</li>
   <li class="active">
      Clients
   </li>
</ol>
<h1 class="page-title ng-scope">Client -&nbsp;
   <small><small>On-boarding and Management</small></small>
</h1>
<br>
<div class="row ng-scope">
   <div class="col-md-12">
      <section class="widget">
         <header>
            <h4>Monitoring Dashboard</h4>
            <div class="widget-controls">
               <div class="dropdown">
                  <i class="glyphicon glyphicon-cog dropdown" data-toggle="dropdown"></i>
                  <ul class="dropdown-menu dropdown-menu-right">
                     <li onClick="addClient();">&nbsp;Add Client</li>
                     <li class="divider"></li>
                     <li>&nbsp;Refresh</li>
                  </ul>
               </div>
            </div>
         </header>
         <div class="widget-body">
            <div class="table-responsive">
               <table id="client-table" class="table table-hover">
                  <thead>
                     <tr>
                        <th>#</th>
                        <th>Client name</th>
                        <th>Located at</th>
                        <th>Sites</th>
                        <th>Installs</th>
                        <th>Status</th>
                     </tr>
                  </thead>
                  <tbody id="client-list">
                     <tr onClick="setClient(1, 'Century 21', 2, 7);">
                        <td>1</td>
                        <td>Century 21  <span class="label label-warning text-gray-dark">Quoting</span></td>
                        <td>New York, NY</td>
                        <td><a id="s1" href="#" data-ajax-load="sites.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">2</a></td>
                        <td><a id="i1" href="#" data-ajax-load="installs.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">7</a></td>
                        <td>Survey/quotes requested at 2 sites.</td>
                     </tr>
                     <tr onClick="setClient(2, 'West Chester Mercedes', 1, 3);">
                        <td>2</td>
                        <td>West Chester Mercedes <span class="label label-success text-gray-dark">New</span></td>
                        <td>West Chester, PA</td>
                        <td><a id="s2" href="#" data-ajax-load="sites.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">1</a></td>
                        <td><a id="i2" href="#" data-ajax-load="installs.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">3</a></td>
                        <td>Scheduled for install on 8/17/2017</td>
                     </tr>
                     <tr class="alert alert-danger" onClick="setClient(3, 'Saks Fifth Avenue', 13, 39);">
                        <td>3</td>
                        <td>Saks Fifth Avenue</td>
                        <td>New York, NY</td>
                        <td>
                           <span class="label label-danger text-gray-dark">
                              <a id="s3" href="#" data-ajax-load="sites.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">
                                 12/13
                              </a>
                           </span>
                        </td>
                        <td>
                           <span class="label label-danger text-gray-dark">
                              <a id="i3" href="#" data-ajax-load="installs.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">
                                 37/39
                              </a>
                           </span>
                        </td>
                        <td>Heartbeat alert from location [Great Mall, Milpitas, CA]</td>
                     </tr>
                     <tr class="alert alert-danger" onClick="setClient(4, 'Brannan Studios', 2, 3);">
                        <td>4</td>
                        <td>Brannan Studios</td>
                        <td>San Francisco, CA</td>
                        <td>
                           <span class="label label-danger text-gray-dark">
                              <a href="#" id="s4" data-ajax-load="sites.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">
                                 1/2
                           </span>
                        </td>
                        <td>
                           <span class="label label-danger text-gray-dark">
                              <a id="i4" href="#" data-ajax-load="installs.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">
                                 2/3
                              </a>
                           </span>
                        </td>
                        <td>Hardware alert from location [440 B St, San Francisco, CA]</td>
                     </tr>
                     <tr onClick="setClient(5, 'Palo Alto Tesla', 1, 5);">
                        <td>5</td>
                        <td>Palo Alto Tesla</td>
                        <td>Palo Alto, CA</td>
                        <td><a id="s5" href="#" data-ajax-load="sites.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">1/1</a></td>
                        <td><a id="i5" href="#" data-ajax-load="installs.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">5/5</a></td>
                        <td>Last actionable event reported 6 days ago.</td>
                     </tr>
                     <tr onClick="setClient(6, 'Nordstrom', 98, 215);">
                        <td>6</td>
                        <td>Nordstrom</td>
                        <td>Seattle, WA</td>
                        <td><a id="s6" href="#" data-ajax-load="sites.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">98/98</a></td>
                        <td><a id="i6" href="#" data-ajax-load="installs.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">215/215</a></td>
                        <td>Last actionable event reported 11 days ago.</td>
                     </tr>
                     <tr onClick="setClient(7, 'Sterling BMW', 1, 4);">
                        <td>7</td>
                        <td>Sterling BMW</td>
                        <td>Newport Beach, CA</td>
                        <td><a id="s7" href="#" data-ajax-load="sites.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">1/1</a></td>
                        <td><a id="i7" href="#" data-ajax-load="installs.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">4/4</a></td>
                        <td>Last actionable event reported 13 days ago.</td>
                     </tr>
                     <tr onClick="setClient(8, 'KOP Simon Mall', 2, 19);">
                        <td>8</td>
                        <td>KOP Simon Mall</td>
                        <td>King of Prussia, PA</td>
                        <td><a id="s8" href="#" data-ajax-load="sites.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">2/2</a></td>
                        <td><a id="i8" href="#" data-ajax-load="installs.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">19/19</a></td>
                        <td>Last actionable event reported 16 days ago.</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </section>
   </div>
</div>

<div class="row ng-scope">
   <div class="col-md-6">
      <section class="widget">
         <header>
            <h4>Client Details</h4>
            <div class="widget-controls">
               <div class="dropdown">
                  <i class="glyphicon glyphicon-cog dropdown" data-toggle="dropdown"></i>
               </div>
            </div>
         </header>
         <div class="widget-body">
            <div id="client_works" class="panel-group mb-lg" data-toggle="collapse">
               <div class="panel panel-default">
                  <div class="panel-heading collapsed">
                     <h5 class="panel-title">
                        <a class="" data-toggle="collapse" data-parent="#client_works" data-target="#w1" aria-expanded="true" style="">Billing Address
                           <i class="fa fa-angle-down pull-right"></i>
                        </a>
                     </h5>
                  </div>
                  <div id="w1" class="panel-collapse collapse in" aria-expanded="true" style="">
                     <div class="panel-body">
                        <form class="form-horizontal ng-pristine ng-valid" role='form'>
                           <fieldset>
                              <div class="form-group">
                                 <label class="col-sm-3 control-label" for="add1">Address 1</label>
                                 <div class="col-sm-8">
                                    <input id="add1" class='form-control' placeholder='Address line 1' type='text'>
                                 </div>
                              </div><br><br>
                              <div class="form-group">
                                 <label class="col-sm-3 control-label" for="add2">Address 2</label>
                                 <div class="col-sm-8">
                                    <input id="add2" class='form-control' placeholder='Address line 2' type='text'>
                                 </div>
                              </div><br><br>
                              <div class="form-group">
                                 <label class="col-sm-3 control-label" for="city">City</label>
                                 <div class="col-sm-8">
                                    <input id="city" class='form-control' placeholder='' type='text'>
                                 </div>
                              </div><br><br>
                              <div class="form-group">
                                 <label class="col-sm-3 control-label" for="state">State</label>
                                 <div class="col-sm-2">
                                    <input id="state" class='form-control' placeholder='' type='text'>
                                 </div>
                                 <div class="col-sm-1">&nbsp;</div>
                                 <label class="col-sm-2 control-label" for="zip">Zip</label>
                                 <div class="col-sm-3">
                                    <input id="zip" class='form-control' placeholder='' type='text'>
                                 </div>
                              </div>
                           </fieldset>
                           <div class='form-actions'>
                              <div class='row'>
                                 <div class='col-sm-offset-3 col-sm-7'>
                                    <button class='btn btn-primary' type='submit'>Save Changes</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button class='btn btn-inverse' type='button'>Cancel</button>
                                 </div>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
            <div class="panel panel-default">
               <div class="panel-heading collapsed">
                  <h5 class="panel-title">
                     <a class="collapsed" data-toggle="collapse" data-parent="#client_works" data-target="#w2" aria-expanded="false">Site & Install Details
                        <i class="fa fa-angle-down pull-right"></i>
                     </a>
                  </h5>
               </div>
               <div id="w2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                  <div class="panel-body">
                     <table id='client_summary' class='table table-hover'>
                        <thead>
                           <tr>
                              <th>Description</th>
                              <th></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr><td><a href='#' onClick='showSites();'>Operational sites</a></td><td>5</td></tr>
                           <tr><td><a href='#' onClick='showInstalls();'>Operational installs</a></td><td>14</td></tr>
                           <tr><td>Operational edge hubs</td><td>39</td></tr>
                           <tr><td>Site Installs in Progress</td><td>0</td></tr>
                           <tr><td>Site Installs scheduled</td><td>2</td></tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <div class="panel panel-default">
               <div class="panel-heading collapsed">
                  <h5 class="panel-title">
                     <a class="collapsed" data-toggle="collapse" data-parent="#client_works" data-target="#w3" aria-expanded="false">Contract Terms
                        <i class="fa fa-angle-down pull-right"></i>
                     </a>
                  </h5>
               </div>
               <div id="w3" class="panel-collapse collapse" aria-expanded="true" style="height: 0px;">
                  <div class="panel-body">
                     <form class='form-horizontal ng-pristine ng-valid' role='form'>
                        <fieldset>
                           <div class='checkbox'>
                              <input type='checkbox' id='signed' checked>
                              <label for='signed'>Signed contract received</label>
                           </div>
                           <legend><strong>Contract </strong>Summary</legend>
                           <table id='contract_summary' class='table table-hover'>
                              <thead>
                                 <tr>
                                    <th>Evaluation metric</th>
                                    <th></th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td>Minimum uptime (monthly)</td>
                                    <td>
                                       <input class='form-control' type='text' value='99%' maxlength='4' size='4'>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>Minimum uptime (yearly)</td>
                                    <td>
                                       <input class='form-control' type='text' value='97.5%' maxlength='4' size='4'>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </fieldset>
                        <div class='form-actions'>
                           <div class='row'>
                              <div class='col-sm-offset-3 col-sm-7'>
                                 <button class='btn btn-primary' type='submit'>Save Changes</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 <button class='btn btn-inverse' type='button'>Cancel</button>
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
   <div class="col-md-6">
      <section class="widget">
         <header>
            <h4 id="pnl2_hdr">Location</h4>
         </header>
         <div class="widget-body">
            <div id="tcgmap" style="visibility: hidden"></div>
         </div>
      </section>
   </div>
</div>
</main>
<!-- The Loader. Is shown when pjax happens -->
<div class="loader-wrap hiding hide">
   <i class="fa fa-circle-o-notch fa-spin-fast"></i>
</div>

<!-- page specific js -->
<script src="js/clients.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiXy9f7DDXpK9FfYc8NA2s8ru9jvfKukg&callback=initGMap"></script>
