<link href="css/application.min.css" rel="stylesheet">
<!-- as of IE9 cannot parse css files with more that 4K classes separating in two files -->
<!--[if IE 9]>
   <link href="css/application-ie9-part2.css" rel="stylesheet">
<![endif]-->
<!-- main page content. the place to put widgets in. usually consists of .row > .col-lg-* > .widget.  -->
<main class="content" class="content view-animate fade-up ng-scope" role="main" data-ui-view="" style="">
<ol class="breadcrumb ng-scope">
   <li>Home</li>
   <li class="active">
    Installs 
   </li>
</ol>
<h1 class="page-title ng-scope">Installs -&nbsp;
   <small><small id="sub-heading">On-boarding and Management</small></small>
</h1>
<br>
<div class="row ng-scope">
   <div class="col-md-12">
      <section class="widget">
         <header>
            <h4>Monitoring Dashboard</h4>
            <div class="widget-controls">
               <a href="#">
                  <i class="glyphicon glyphicon-cog"></i>
               </a>
            </div>
         </header>
         <div class="widget-body">
            <div class="table-responsive">
               <table id="site-table" class="table table-hover">
                  <thead>
                     <tr>
                        <th>#</th>
                        <th>Install name</th>
                        <th>Site name</th>
                        <th>Client name</th>
                        <th>Located at</th>
                        <th>Screens</th>
                        <th>Status</th>
                     </tr>
                  </thead>
                  <tbody id="sites-data">
               </table>
            </div>
         </div>
      </section>
   </div>
</div>
<div class="row ng-scope">
   <div class="col-md-6">
      <section class="widget">
         <header>
            <h4>Install Status</h4>
            <div class="widget-controls">
               <a href="#">
                  <i class="glyphicon glyphicon-cog"></i>
               </a>
            </div>
         </header>
         <div class="widget-body">
            <div id="install_works" class="panel-group mb-lg" data-toggle="collapse">
               <div class="panel panel-default">
                  <div class="panel-heading collapsed">
                     <h5 class="panel-title">
                        <a class="" data-toggle="collapse" data-parent="#install_works" data-target="#w1" aria-expanded="true" style="">Survey
                           <i class="fa fa-angle-down pull-right"></i>
                        </a>
                     </h5>
                  </div>
                  <div id="w1" class="panel-collapse collapse in" aria-expanded="true" style="">
                     <div class="panel-body">
                     </div>
                  </div>
               </div>
            </div>
            <div class="panel panel-default">
               <div class="panel-heading collapsed">
                  <h5 class="panel-title">
                     <a class="collapsed" data-toggle="collapse" data-parent="#install_works" data-target="#w2" aria-expanded="false">Composition
                        <i class="fa fa-angle-down pull-right"></i>
                     </a>
                  </h5>
               </div>
               <div id="w2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                  <div class="panel-body">
                     <table class="table table-hover">
                        <thead>
                           <tr>
                              <th>Description</th>
                              <th>Identifier</th>
                              <th>Quantity</th>
                              <th></th>
                           </tr>
                        </thead>
                        <tbody id="equipment">
                           <tr>
                              <td><input type="text" class="form-control" id="sku"></td>
                              <td><input type="text" class="form-control" id="scancode"></td>
                              <td><input type="text" class="form-control" id="quantity"></td>
                              <td><button id="addStuff" class="btn btn-primary" onClick="addStuff();">Add</button></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <div class="panel panel-default">
               <div class="panel-heading collapsed">
                  <h5 class="panel-title">
                     <a class="collapsed" data-toggle="collapse" data-parent="#install_works" data-target="#w3" aria-expanded="false">Maintenance History
                        <i class="fa fa-angle-down pull-right"></i>
                     </a>
                  </h5>
               </div>
               <div id="w3" class="panel-collapse collapse" aria-expanded="true" style="height: 0px;">
                  <div class="panel-body">
                     <table class="table table-hover">
                        <thead>
                           <tr>
                              <th>Description</th>
                              <th>On</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>Changed external camera lens</td><td>03/03/2016</td>
                           </tr>
                           <tr>
                              <td>Cleaned light sensor array</td><td>12/09/2016</td>
                           </tr>
                           <tr>
                              <td>Adjusted external/install camera position</td><td>12/10/2016</td>
                           </tr>
                           <tr>
                              <td>Adjusted external/install camera position</td><td>12/15/2016</td>
                           </tr>
                           <tr>
                              <td>Adjusted external/install camera position YET AGAIN</td><td>12/20/2016</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
   <div class="col-md-6">
      <section class="widget">
         <header>
            <h4>Install Schematic</h4>
            <div class="widget-controls">
               <a href="#">
                  <i class="glyphicon glyphicon-cog"></i>
               </a>
            </div>
         </header>
         <div class="widget-body">
            <!--div id="install_viewer" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
               <div class="carousel-item active">
               <img class="d-block w-100" src="img/installs/2si.png" alt="Install schematic">
               </div>
               <div class="carousel-item">
               <img class="d-block w-100" src="img/installs/test.jpg" alt="Schematic photo 1">
               </div>
               </div>
               <a class="carousel-control-prev" href="#install_viewer" role="button" data-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#install_viewer" role="button" data-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
               </a>
               </div-->
               <img src="img/installs/2si.png">
   </div>
      </section>
</div>
</div>
</main>
<!-- The Loader. Is shown when pjax happens -->
<div class="loader-wrap hiding hide">
   <i class="fa fa-circle-o-notch fa-spin-fast"></i>
</div>

<!-- page specific js -->
<script src="js/installs.js"></script>
