<link href="css/application.min.css" rel="stylesheet">
<link href="css/tcg.css" rel="stylesheet">

<!-- as of IE9 cannot parse css files with more that 4K classes separating in two files -->
<!--[if IE 9]>
   <link href="css/application-ie9-part2.css" rel="stylesheet">
<![endif]-->
<!-- main page content. the place to put widgets in. usually consists of .row > .col-lg-* > .widget.  -->
<main class="content" class="content view-animate fade-up ng-scope" role="main" data-ui-view="" style="">
<ol class="breadcrumb ng-scope">
   <li>Home</li>
   <li class="active">
      Sites 
   </li>
</ol>
<h1 class="page-title ng-scope">Sites- 
   <small><small id="sub-heading">On-boarding and Management</small></small>
</h1>
<br>
<div class="row ng-scope">
   <div class="col-md-12">
      <section class="widget">
         <header>
            <h4>Monitoring Dashboard</h4>
            <div class="widget-controls">
               <div class="dropdown">
                  <i class="glyphicon glyphicon-cog dropdown" data-toggle="dropdown"></i>
                  <ul class="dropdown-menu dropdown-menu-right">
                     <li onClick="addSite();">&nbsp;Add Site</li>
                     <li class="divider"></li>
                     <li>&nbsp;Refresh</li>
                  </ul>
               </div>
            </div>
         </header>
         <div class="widget-body">
            <div class="table-responsive">
               <table id="site-table" class="table table-hover">
                  <thead>
                     <tr>
                        <th>#</th>
                        <th>Site name</th>
                        <th>Client name</th>
                        <th>Located at</th>
                        <th>Installs</th>
                        <th>Status</th>
                     </tr>
                  </thead>
                  <tbody id="sites-data">
               </table>
            </div>
         </div>
      </section>
   </div>
</div>
<div class="row ng-scope">
   <div class="col-md-12">
      <section class="widget">
         <header>
            <h4>Site Details</h4>
            <div class="widget-controls">
               <div class="dropdown">
                  <i class="glyphicon glyphicon-cog dropdown" data-toggle="dropdown"></i>
               </div>
            </div>
         </header>
         <div class="widget-body">
            <div id="site_works" class="panel-group mb-lg" data-toggle="collapse">
               <div class="panel panel-default">
                  <div class="panel-heading collapsed" onClick="showSurveyDetails();">
                     <h5 class="panel-title">
                        <a id="survey_acc" class="" data-toggle="collapse" data-parent="#site_works" data-target="#w1" aria-expanded="true" style="">
                           Site Location 
                           <i class="fa fa-angle-down pull-right"></i>
                        </a>
                     </h5>
                  </div>
                  <div id="w1" class="panel-collapse collapse in" aria-expanded="true" style="">
                     <div class="panel-body">
                        <div class='col-md-6'>
                        <form class="form-horizontal ng-pristine ng-valid" role='form'>
                           <fieldset>
                              <div class="form-group">
                                 <label class="col-sm-3 control-label" for="siteName">Site Name</label>
                                 <div class="col-sm-8">
                                    <input id="siteName" class='form-control' placeholder='Site name' type='text'>
                                 </div>
                              </div><br><br>
                              <div class="form-group">
                                 <label class="col-sm-3 control-label" for="add1">Address 1</label>
                                 <div class="col-sm-8">
                                    <input id="add1" class='form-control' placeholder='Address line 1' type='text'>
                                 </div>
                              </div><br><br>
                              <div class="form-group">
                                 <label class="col-sm-3 control-label" for="add2">Address 2</label>
                                 <div class="col-sm-8">
                                    <input id="add2" class='form-control' placeholder='Address line 2' type='text'>
                                 </div>
                              </div><br><br>
                              <div class="form-group">
                                 <label class="col-sm-3 control-label" for="city">City</label>
                                 <div class="col-sm-8">
                                    <input id="city" class='form-control' placeholder='' type='text'>
                                 </div>
                              </div><br><br>
                              <div class="form-group">
                                 <label class="col-sm-3 control-label" for="state">State</label>
                                 <div class="col-sm-2">
                                    <input id="state" class='form-control' placeholder='' type='text'>
                                 </div>
                                 <div class="col-sm-1">&nbsp;</div>
                                 <label class="col-sm-2 control-label" for="zip">Zip</label>
                                 <div class="col-sm-3">
                                    <input id="zip" class='form-control' placeholder='' type='text'>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="col-sm-11 control-label">&nbsp;</label>
                                 <label class="col-sm-11 control-label">&nbsp;</label>
                              </div><br><br>
                           </fieldset>
                           <div class='form-actions'>
                              <div class='row'>
                                 <div class='col-sm-offset-3 col-sm-7'>
                                    <button class='btn btn-primary' type='submit'>Save Changes</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button class='btn btn-inverse' type='button'>Cancel</button>
                                 </div>
                              </div>
                           </div>
                        </form>
                        </div>
                        <div class='col-md-6'>
                           <div id="tcgmap" style="visibility: hidden"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="panel panel-default">
               <div class="panel-heading collapsed">
                  <h5 class="panel-title">
                     <a class="collapsed" data-toggle="collapse" data-parent="#site_works" data-target="#w2" aria-expanded="false">Site Summary
                        <i class="fa fa-angle-down pull-right"></i>
                     </a>
                  </h5>
               </div>
               <div id="w2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                  <div class="panel-body">
                     <div class='col-md-6'>
                        <div id='surveyed' class='col-sm-12'>
                           <div class='col-sm-1'>
                              <input type='checkbox' checked>
                           </div>
                           <div class='col-sm-6'>
                              <label class='control-label' for="surveyed_on">Site last surveyed on: </label>
                           </div>
                           <div class="col-sm-3" id="surveyed_on">
                              <input type="text" class='form-control' value='07/20/2017'>
                           </div>
                        </div>
                        <table id='site_summary' class='table table-hover'>
                           <thead>
                              <tr>
                                 <th>Description</th>
                                 <th></th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <td><a href='#' onClick='showInstalls();'>Operational/Planned installs</a></td>
                                 <td><input id='numInst' class="form-control" type='text' maxlength='2' size='2' value='5'></td>
                              </tr>
                              <tr>
                                 <td><a href='#' onClick='showEdgeHubs();'>Operational/Planned edge hubs</td>
                                 <td><input id='numScreen' class="form-control" type='text' maxlength='2' size='2' value='11'></td>
                              </tr>
                              <tr><td>Installs in progress</td><td>0</td></tr>
                              <tr><td>Installs scheduled [8/19/2017]</td><td>1</td></tr>
                           </tbody>
                        </table>
                        <div class="form-group">
                           <label class="col-sm-11 control-label">&nbsp;</label>
                           <label class="col-sm-11 control-label">&nbsp;</label>
                        </div><br><br>
                        <div class='form-actions'>
                           <div class='row'>
                              <div class='col-sm-offset-3 col-sm-7'>
                                 <button class='btn btn-primary' type='submit'>Save Changes</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 <button class='btn btn-inverse' type='button'>Cancel</button>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div id="site_viewer" class="carousel slide" data-ride="carousel">
                           <div class="carousel-inner">
                              <div class="carousel-item active">
                                 <img id='schematic' class="d-block w-100" src="img/installs/2s.png" alt="Install schematic">
                              </div>
                              <div class="carousel-item">
                                 <img  class="d-block w-100" src="img/installs/2/1.jpg" alt="Picture">
                              </div>
                              <div class="carousel-item">
                                 <img  class="d-block w-100" src="img/installs/2/2.jpg" alt="Picture">
                              </div>
                              <div class="carousel-item">
                                 <img  class="d-block w-100" src="img/installs/2/3.jpg" alt="Picture">
                              </div>
                              <div class="carousel-item">
                                 <img  class="d-block w-100" src="img/installs/2/4.jpg" alt="Picture">
                              </div>
                              <div class="carousel-item">
                                 <img  class="d-block w-100" src="img/installs/2/5.jpg" alt="Picture">
                              </div>
                           </div>
                           <a class="carousel-control-prev" href="#site_viewer" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                           </a>
                           <a class="carousel-control-next" href="#site_viewer" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="panel panel-default">
               <div class="panel-heading collapsed">
                  <h5 class="panel-title">
                     <a class="collapsed" data-toggle="collapse" data-parent="#site_works" data-target="#w3" aria-expanded="false">Site Status
                        <i class="fa fa-angle-down pull-right"></i>
                     </a>
                  </h5>
               </div>
               <div id="w3" class="panel-collapse collapse" aria-expanded="true" style="height: 0px;">
                  <div class="panel-body">
                     <table id="site_status_table" class="table">
                        <thead>
                           <tr>
                              <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>Select project status</td>
                              <td>
                                 <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Project Status 
                                       <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                       <li><a href="#">Halted</a></li>
                                       <li><a href="#">Customer hold</a><li>
                                    </ul>
                                 </div>
                              </td>
                              <td>Notes</td>
                              <td colspan='5'><input id='reason' type='text' class='form-control' placeholder='Next steps, follow-up date, etc.'></td>
                           </tr>
                           <td colspan='4'><input id='approved' type='checkbox'> <label for='approved'>Site approved for install </label></td>
                           <td colspan='2'>Customer approval received on </td>
                           <td colspan='2'>
                              <div id='dp' class='input-group'>
                                 <input id='install_date' class='form-control' type='text'>
                                 <a class='input-group-addon btn btn-success'>
                                    <span class='glyphicon glyphicon-calendar'></span>
                                 </a>
                              </div>
                           </td>
                           <tr>
                              <td colspan='6'>
                                 <input id='composed' type='checkbox'> <label for='approved'>Solution composition complete. Ready to ship </label>
                              </td>
                              <td colspan='2'>
                                 Click <a href='#' onClick="showInstalls();">here</a>  to compose installs.
                              </td>
                           </tr>
                           <tr>
                              <td colspan='3'>
                                 <input id='shipped' type='checkbox'> <label for='approved'>Solution shipped.</label>
                              </td>
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;<button class='btn btn-primary' role='button'>Print label</button></td>
                              <td colspan='2'>Ship date:</td>
                              <td colspan='2'>
                                 <div id='dp2' class='input-group'>
                                    <input id='ship_date' class='form-control' type='text'>
                                    <a class='input-group-addon btn btn-success'>
                                       <span class='glyphicon glyphicon-calendar'></span>
                                    </a>
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td colspan='4'>
                                 <input id='received' type='checkbox'> <label for='received'>Received by customer.</label>
                              </td>
                              <td colspan='2'>Final site inspection schedule on </td>
                              <td colspan='2'>
                                 <div id='dp3' class='input-group'>
                                    <input id='inspection_date' class='form-control' type='text'>
                                    <a class='input-group-addon btn btn-success'>
                                       <span class='glyphicon glyphicon-calendar'></span>
                                    </a>
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td colspan='4'>
                                 <input id='inspected' type='checkbox'> <label for='inspected'>Final inspection completed. Site is ready for install.</label>
                              </td>
                              <td colspan='2'>Schedule installation on </td>
                              <td colspan='2'>
                                 <div id='dp4' class='input-group'>
                                    <input id='install_date' class='form-control' type='text'>
                                    <a class='input-group-addon btn btn-success'>
                                       <span class='glyphicon glyphicon-calendar'></span>
                                    </a>
                                 </div>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
</main>
<!-- The Loader. Is shown when pjax happens -->
<div class="loader-wrap hiding hide">
   <i class="fa fa-circle-o-notch fa-spin-fast"></i>
</div>

<!-- page specific js -->
<script src="js/sites.js"></script>
<script src="vendor/bootstrap/js/dist/carousel.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiXy9f7DDXpK9FfYc8NA2s8ru9jvfKukg&callback=initGMap"></script>
