<div class="list-group-item">
	<span class="thumb-sm pull-xs-left mr clearfix">
	    <img class="img-circle" src="demo/img/people/a3.jpg" alt="...">
	</span>
    <p class="no-margin overflow-hidden">
        Monica just signed up a new Customer !
		Let us welcome <a href="#">Howgart's Corp</a> to TruClear Global...
		<time class="help-block no-margin">
		    2 mins ago
		</time>
    </p>
</div>
<a class="list-group-item" href="#">
	<span class="thumb-sm pull-xs-left mr">
	    <i class="glyphicon glyphicon-upload fa-lg"></i>
	</span>
    <p class="text-ellipsis no-margin">
        DynaDisplay 2.1.0-alpha just released. </p>
    <time class="help-block no-margin">
        5h ago
    </time>
</a>
<a class="list-group-item" href="#">
	<span class="thumb-sm pull-xs-left mr">
	    <i class="fa fa-bolt fa-lg"></i>
	</span>
    <p class="text-ellipsis label label-danger no-margin">
        Media Microservice load limit exceeded. </p>
    <time class="help-block no-margin">
        7h ago
    </time>
</a>
<div class="list-group-item">
	<span class="thumb-sm pull-xs-left mr clearfix">
	    <img class="img-circle" src="demo/img/peopAle/a5.jpg" alt="...">
	</span>
    <p class="no-margin overflow-hidden">
        Jason Ming (Admin for <a href="#">Brickel</a>) registered, and is requesting access.
        &nbsp;&nbsp;
        <a class="label label-success">Allow</a>
        <a class="label label-danger">Deny</a>
        <time class="help-block no-margin">
            12:18 AM
        </time>
    </p>
</div>
<div class="list-group-item">
    <span class="thumb-sm pull-xs-left mr">
        <i class="fa fa-shield fa-lg"></i>
    </span>
    <p class="no-margin overflow-hidden">
        Intrusion detection/DoS attack alert triggered for NTP
        service. Please check <a href="#">security page</a>.
        <time class="help-block no-margin">
            12:18 AM
        </time>
    </p>
</div>
<!-- a class="list-group-item" href="#">
	<span class="thumb-sm pull-xs-left mr">
	    <span class="rounded bg-primary rounded-lg">
	        <i class="fa fa-facebook text-white"></i>
	    </span>
	</span>
    <p class="text-ellipsis no-margin">
        New <strong>76</strong> facebook likes received.</p>
    <time class="help-block no-margin">
        15 Apr 2014
    </time>
</a>
<a class="list-group-item" href="#">
	<span class="thumb-sm pull-xs-left mr">
	    <span class="circle circle-lg bg-gray-dark">
	        <i class="fa fa-circle-o text-white"></i>
	    </span>
	</span>
    <p class="text-ellipsis no-margin">
        Dark matter detected.</p>
    <time class="help-block no-margin">
        15 Apr 2014
    </time>
</a-->